@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    font-family:  "Segoe UI", Helvetica, sans-serif;
    text-align: center;
    background-color: #28313d;
}

.Contact {
    border-top: solid rgb(66, 78, 97);
    color: whitesmoke;;
    margin-top: 5%;
}

.Slider {
    width: 100%;
}
.Centraliser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline: 2%;
}
.ImageActions {
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FileActions {
    margin-top: 4%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.MainBox
{
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.ContentBox
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Header
{
    padding-block: 0.5%;
    border-bottom: solid rgb(66, 78, 97);
    background-color: #ffee00;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    color: rgb(29, 29, 29);
}

.Footer
{
    background-color: #1f2937;
    padding-block: 1%;
    text-align: center;
    bottom: 0%;
    position: fixed;
    min-width: 100%;
}

.Footer span
{
    color: whitesmoke;
}
